body{
    transition: background-color 0.3s ease;
}

body.light-theme{
    background-color: #ffffff;
    color: #000000;
}
body.dark-theme{
    background-color: #000000;
    color: #ffffff;
}
.header.light-theme {
    background-color: white;
    color: black;
}
.header.dark-theme {
    background-color: black;
    color: white;
 }
 .pizza-card {
    width: 400px;
}
.dark-theme .pizza-card {
    background-color: black;
    color: white;
 }